/* ---------- Couleurs et polices ---------- */ 

body{
	background-color:#f9f5fc;
	color: rgb(0, 0, 0);
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.4;
}

h1, h2, h3 {
	color: #a06cd5;
	line-height: 0px;
}

h2, h3{
	margin-bottom: 33px;
}

h1{
	font-family: 'Noto Serif', serif;
	font-size: 42px;
	font-weight: 600;
	letter-spacing: -1.5px;
	margin-top: 35px;
  margin-bottom: 52px;
}

h2{
	font-family: 'PT Serif', serif;
	font-size: 28px;
	font-weight: 700;
	letter-spacing: 0px;
}

h3{
	font-family: 'Libre Baskerville', serif;
	font-size: 28px;
	font-weight: 700;
	letter-spacing: -1.5px;
}

a{
	color:#ffb81c ;
	text-decoration: none;
}

a:hover{
	color: rgb(255, 255, 255);
	text-decoration: none;
}

/* ---------- Affichage ---------- */ 

.container {
	width: 750px;
	margin: 45px auto;
}

.card-box{
	background-color: white;
	padding: 25px;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15);
	border-radius: 5px ;
	margin: 30px 0px;
	text-align: center;
}

.img-circle{
	border-radius: 60%;
}

.list-vertical{
	list-style-type: none;
	padding-left: 0;
	color: black;
}

.list-vertical li{
	padding: 8px;
}

.logo-inline{
	list-style-type: none;
	padding-left: 0;
}

.logo-inline li {
	display: inline;
	padding: 5px;
}

.logo-inline i{
	font-size: 50px;
	text-decoration: none;
}

.logo-inline i:hover{
  color: #a048f9;
  transition: color 0.4s ease;
}

.btn-violet{
	background-color: #a06cd5;
	padding: 15px 20px;
	border-radius: 5px;
	color: rgb(255, 255,255);
	font-weight: bold;
	text-decoration: none;
	font-family: roboto, sans-serif;
}

.btn-violet:hover{
	background-color:#d1b8eb;
	color: #522480;
	transition: color 0.4s ease;
}

#text-introduction{
	margin-bottom:38px ;
	margin-top: 24px;
}

#text-smaller{
	font-size: 17px;
	margin-top: 18px;
}


@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 760px) {
    .container {
      width: 600px;
    }
}

@media (max-width: 660px) {
    .container {
      width: 500px;
    }
}

@media (max-width: 560px) {
    .container {
      width: 400px;
    }
}
